<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="index::layout(~{::table})">
<head>
    <meta charset="UTF-8">
    <title>Customer Table</title>
</head>
<body>
<table class="table container mt-5 shadow-lg p-3 mb-5 bg-white rounded">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">User Name</th>
        <th scope="col">Address</th>
        <th scope="col">Gender</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="c:${customers}">
        <th scope="row">[[${c.id}]]</th>
        <td>[[${c.cName}]]</td>
        <td>[[${c.cAddress}]]</td>
        <td>[[${c.cGender}]]</td>
        <td>[[${c.cEmail}]]</td>
        <td>[[${c.cPassword}]]</td>
        <td>
            <a class="btn btn-outline-success btn-sm" th:href="@{'getCustomer/' + ${c.id}}">Update</a>
            <a class="btn btn-outline-danger btn-sm" th:href="@{'deleteCustomer/' + ${c.id}}">Update</a>
        </td>
    </tr>

    </tbody>
</table>
</body>
</html>